<a href="https://colab.research.google.com/github/FarrelFach/Machine-Learning/blob/main/Praktikum4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [ ]:
path="/content/DataCleaning/python-data-cleaning-master/Datasets/BL-Flickr-Images-Book.csv"
drivepath="/content/drive/MyDrive/Machine Learning/data-cleaning/Datasets/BL-Flickr-Images-Book.csv"
df=pd.read_csv(drivepath)
df

In [3]:
df['Identifier'].is_unique

True

In [ ]:
df=df.set_index('Identifier')
df.head()

In [ ]:
df.describe()

In [5]:
to_drop=['Edition Statement',
         'Contributors',
         'Corporate Author',
         'Former owner',
         'Engraver',
         'Issuance type',
         'Shelfmarks']
df.drop(to_drop,inplace=True,axis=1)

In [ ]:
df.head()

In [8]:
df.loc[206]

Place of Publication                                                 London
Date of Publication                                             1879 [1878]
Publisher                                                  S. Tinsley & Co.
Title                                     Walter Forbes. [A novel.] By A. A
Author                                                                A. A.
Corporate Contributors                                                  NaN
Flickr URL                http://www.flickr.com/photos/britishlibrary/ta...
Name: 206, dtype: object

In [11]:
df.dtypes

Place of Publication       object
Date of Publication        object
Publisher                  object
Title                      object
Author                     object
Corporate Contributors    float64
Flickr URL                 object
dtype: object

In [17]:
df.loc[1905:,'Date of Publication'].head(10)

Identifier
1905                  NaN
1929                  NaN
2836                  NaN
2854       E. Moxon & Co.
2956                  NaN
2957                  NaN
3017                  NaN
3131            W. Abbatt
4598           The Author
4884    J. Hatchard & Son
Name: Publisher, dtype: object

In [6]:
regex=r'^(\d{4})' #regular expression
regex

'^(\\d{4})'

In [9]:
extr=df['Date of Publication'].str.extract(r'^(\d{4})',expand=False)
extr.head
df['Date of Publication']=pd.to_numeric(extr)
df['Date of Publication'].dtypes

dtype('float64')

In [11]:
df.to_csv('/content/drive/MyDrive/Machine Learning/data-cleaning/Datasets/data1.csv')
df1=pd.read_csv('/content/drive/MyDrive/Machine Learning/data-cleaning/Datasets/data1.csv')
df1.head()

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Corporate Contributors,Flickr URL
0,206,London,1879.0,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,NaN,http://www.flickr.com/photos/britishlibrary/ta...
1,216,London; Virtue & Yorston,1868.0,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",NaN,http://www.flickr.com/photos/britishlibrary/ta...
2,218,London,1869.0,"Bradbury, Evans & Co.",Love the Avenger. By the author of â€œAll for Gr...,"A., A. A.",NaN,http://www.flickr.com/photos/britishlibrary/ta...
3,472,London,1851.0,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",NaN,http://www.flickr.com/photos/britishlibrary/ta...
4,480,London,1857.0,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",NaN,http://www.flickr.com/photos/britishlibrary/ta...