<a href="https://colab.research.google.com/github/FarrelFach/Machine-Learning/blob/main/Praktikum5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

from sklearn.datasets import load_iris
Iris = load_iris()
dir(Iris)

In [2]:
Iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [3]:
df = pd.DataFrame(Iris.data,columns=Iris.feature_names)
df['target']=Iris.target  #0=setosa, 1=...,2=Virginica
df['flower_name']=df.target.apply(lambda x:Iris.target_names[x])
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,flower_name
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,virginica
146,6.3,2.5,5.0,1.9,2,virginica
147,6.5,3.0,5.2,2.0,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica
149,5.9,3.0,5.1,1.8,2,virginica

In [4]:
import random
random.seed(123)
ind=np.random.choice([1, 2], size=(len(df['sepal length (cm)'])), p=[0.8, 0.2])
ind

array([1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 1, 2, 1, 2, 1, 2, 1, 1,
       1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 2, 1,
       2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1,
       1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1,
       1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1])

In [5]:
train= df.loc[ind==1,]
train

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,flower_name
0,5.1,3.5,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa
5,5.4,3.9,1.7,0.4,0,setosa
6,4.6,3.4,1.4,0.3,0,setosa
...,...,...,...,...,...,...
144,6.7,3.3,5.7,2.5,2,virginica
146,6.3,2.5,5.0,1.9,2,virginica
147,6.5,3.0,5.2,2.0,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica
149,5.9,3.0,5.1,1.8,2,virginica

In [9]:
test = df.loc[ind==2,]
test

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,flower_name
1,4.9,3.0,1.4,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
10,5.4,3.7,1.5,0.2,0,setosa
12,4.8,3.0,1.4,0.1,0,setosa
13,4.3,3.0,1.1,0.1,0,setosa
15,5.7,4.4,1.5,0.4,0,setosa
17,5.1,3.5,1.4,0.3,0,setosa
19,5.1,3.8,1.5,0.3,0,setosa
27,5.2,3.5,1.5,0.2,0,setosa
30,4.8,3.1,1.6,0.2,0,setosa
37,4.9,3.6,1.4,0.1,0,setosa
40,5.0,3.5,1.3,0.3,0,setosa
42,4.4,3.2,1.3,0.2,0,setosa
44,5.1,3.8,1.9,0.4,0,setosa
51,6.4,3.2,4.5,1.5,1,versicolor
60,5.0,2.0,3.5,1.0,1,versicolor
61,5.9,3.0,4.2,1.5,1,versicolor
67,5.8,2.7,4.1,1.0,1,versicolor
73,6.1,2.8,4.7,1.2,1,versicolor
76,6.8,2.8,4.8,1.4,1,versicolor
96,5.7,2.9,4.2,1.3,1,versicolor
98,5.1,2.5,3.0,1.1,1,versicolor
107,7.3,2.9,6.3,1.8,2,virginica
108,6.7,2.5,5.8,1.8,2,virginica
111,6.4,2.7,5.3,1.9,2,virginica
120,6.9,3.2,5.7,2.3,2,virginica
126,6.2,2.8,4.8,1.8,2,virginica
136,6.3,3.4,5.6,2.4,2,virginica
145,6.7,3.0,5.2,2.3,2,virginica

In [7]:
len(train)

121

In [8]:
len(test)

29