<a href="https://colab.research.google.com/github/FarrelFach/Machine-Learning/blob/main/Pratikum1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [27]:
import pandas as pd
import numpy as np
path="/content/drive/My Drive/Machine Learning/Pratikum1.csv"
dataset=pd.read_csv(path)
dataset

                Provinsi   2015   2016
0                   ACEH  29.82  28.16
1         SUMATERA UTARA  29.15  27.88
2         SUMATERA BARAT  32.41  30.59
3                   RIAU  31.21  29.61
4                  JAMBI  30.82  29.18
5       SUMATERA SELATAN  33.13  31.57
6               BENGKULU  33.68  33.15
7                LAMPUNG  34.12  33.39
8   KEP. BANGKA BELITUNG  30.70  29.32
9              KEP. RIAU  29.18  29.25
10           DKI JAKARTA  27.31  26.42
11            JAWA BARAT  33.82  32.67
12           JAWA TENGAH  28.57  27.19
13         DI YOGYAKARTA  24.12  23.11
14            JAWA TIMUR  29.03  28.16
15                BANTEN  32.95  31.64
16                  BALI  22.96  21.62
17   NUSA TENGGARA BARAT  31.60  30.88
18   NUSA TENGGARA TIMUR  25.47  24.91
19      KALIMANTAN BARAT  29.35  28.09
20     KALIMANTAN TENGAH  30.53  29.21
21    KALIMANTAN SELATAN  25.76  25.34
22      KALIMANTAN TIMUR  25.59  25.23
23      KALIMANTAN UTARA  28.61  28.38
24        SULAWESI UTARA  29.31  29.23
25       SULAWESI TENGAH  32.56  31.88
26      SULAWESI SELATAN  25.49  25.13
27     SULAWESI TENGGARA  28.49  27.60
28             GORONTALO  33.93  31.71
29        SULAWESI BARAT  28.29  27.36
30                MALUKU  27.19  25.68
31          MALUKU UTARA  31.14  30.23
32           PAPUA BARAT  29.28  26.18
33                 PAPUA  26.67  24.04

In [6]:
dataset.head()

         Provinsi   2015   2016
0            ACEH  29.82  28.16
1  SUMATERA UTARA  29.15  27.88
2  SUMATERA BARAT  32.41  30.59
3            RIAU  31.21  29.61
4           JAMBI  30.82  29.18

In [8]:
dataset.shape

(34, 3)

In [9]:
dataset.isnull().sum()

Provinsi    0
2015        0
2016        0
dtype: int64

In [10]:
dataset.max()

Provinsi    SUMATERA UTARA
2015                 34.12
2016                 33.39
dtype: object

In [11]:
dataset.min()

Provinsi     ACEH
2015        22.96
2016        21.62
dtype: object

In [12]:
dataset.describe()

            2015       2016
count  34.000000  34.000000
mean   29.477647  28.352647
std     2.967069   2.931938
min    22.960000  21.620000
25%    27.555000  26.240000
50%    29.295000  28.270000
75%    31.502500  30.500000
max    34.120000  33.390000

In [15]:
dataset.describe().loc['max', '2015']

34.12

In [16]:
dataset.describe()['2016']['max']

33.39

In [19]:
data=dataset.dropna()

In [20]:
data.shape

(34, 3)

In [22]:
dataset.dropna(axis=0, subset=['2015','2016'], inplace=True)

In [23]:
dataset.shape

(34, 3)

In [24]:
y=data['2015']
y

0     29.82
1     29.15
2     32.41
3     31.21
4     30.82
5     33.13
6     33.68
7     34.12
8     30.70
9     29.18
10    27.31
11    33.82
12    28.57
13    24.12
14    29.03
15    32.95
16    22.96
17    31.60
18    25.47
19    29.35
20    30.53
21    25.76
22    25.59
23    28.61
24    29.31
25    32.56
26    25.49
27    28.49
28    33.93
29    28.29
30    27.19
31    31.14
32    29.28
33    26.67
Name: 2015, dtype: float64

In [26]:
fitur=['Provinsi','2016']
x=data[fitur]
x

                Provinsi   2016
0                   ACEH  28.16
1         SUMATERA UTARA  27.88
2         SUMATERA BARAT  30.59
3                   RIAU  29.61
4                  JAMBI  29.18
5       SUMATERA SELATAN  31.57
6               BENGKULU  33.15
7                LAMPUNG  33.39
8   KEP. BANGKA BELITUNG  29.32
9              KEP. RIAU  29.25
10           DKI JAKARTA  26.42
11            JAWA BARAT  32.67
12           JAWA TENGAH  27.19
13         DI YOGYAKARTA  23.11
14            JAWA TIMUR  28.16
15                BANTEN  31.64
16                  BALI  21.62
17   NUSA TENGGARA BARAT  30.88
18   NUSA TENGGARA TIMUR  24.91
19      KALIMANTAN BARAT  28.09
20     KALIMANTAN TENGAH  29.21
21    KALIMANTAN SELATAN  25.34
22      KALIMANTAN TIMUR  25.23
23      KALIMANTAN UTARA  28.38
24        SULAWESI UTARA  29.23
25       SULAWESI TENGAH  31.88
26      SULAWESI SELATAN  25.13
27     SULAWESI TENGGARA  27.60
28             GORONTALO  31.71
29        SULAWESI BARAT  27.36
30                MALUKU  25.68
31          MALUKU UTARA  30.23
32           PAPUA BARAT  26.18
33                 PAPUA  24.04