<a href="https://colab.research.google.com/github/FarrelFach/Machine-Learning/blob/main/uts_8_2_datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

path="/content/drive/MyDrive/Machine_Learning/UTS_datasets.csv"
df=pd.read_csv(path)
df.head()

,Unnamed: 0,id,name,artists,duration_ms,popularity,explicit,available_markets,add_date,playlist_id,album_id,album_name,album_artists,album_disc_number,album_track_number,album_total_tracks,album_type,album_release_date,album_release_date_precision,album_available_markets
0,0,5ueyLj6e6oVaTY0KQ6yLaA,All Shook Up,Elvis Presley,117080,61,False,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB...",2022-06-09T22:02:00Z,37i9dQZF1DWSV3Tk4GO2fq,0C3t1htEDTFKcg7F2rNbek,Elvis' Golden Records,Elvis Presley,1,3,14,compilation,1958-03-21,day,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB..."
1,1,3aEJMh1cXKEjgh52claxQp,I've Got You Under My Skin - Remastered 1998,Frank Sinatra,223760,68,False,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB...",2022-06-09T22:02:00Z,37i9dQZF1DWSV3Tk4GO2fq,4kca7vXd1Wo5GE2DMafvMc,Songs For Swingin' Lovers! (Remastered),Frank Sinatra,1,9,15,album,1956-03,month,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB..."
2,2,2vSxjnyrWrtxyfzO47EX6q,Smoke Gets In Your Eyes,The Platters,160933,64,False,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB...",2022-06-09T22:02:00Z,37i9dQZF1DWSV3Tk4GO2fq,3hf24dCfmmDihusVyBLliZ,Remember When?,The Platters,1,2,12,album,1959-01-01,day,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB..."
3,3,5yQ9iMZXGcr5rlO4hoLsP4,"What'd I Say, Pt. 1 & 2",Ray Charles,307053,61,False,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB...",2022-06-09T22:02:00Z,37i9dQZF1DWSV3Tk4GO2fq,4tfWxufmH725XmTcQFAuXn,What'd I Say,Ray Charles,1,1,10,album,1959,year,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB..."
4,4,3HuJDcOWx0gE9Yng2uWY7K,Dream A Little Dream Of Me,Louis Armstrong,196840,65,False,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB...",2022-06-09T22:02:00Z,37i9dQZF1DWSV3Tk4GO2fq,6mmv0gwumlFGWDGJXF4yEv,What A Wonderful World,Louis Armstrong,1,4,11,album,1968-01-01,day,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB..."

Sumber Datasets:https://www.kaggle.com/datasets/tamle507/spotify-all-out-playlists-songs-1950s-2010s

In [4]:
import random
random.seed(123)
ind=np.random.choice([1, 2], size=(len(df['id'])), p=[0.8, 0.2])
ind

array([2, 2, 1, ..., 1, 1, 1])

In [5]:
train= df.loc[ind==1,]
train

,Unnamed: 0,id,name,artists,duration_ms,popularity,explicit,available_markets,add_date,playlist_id,album_id,album_name,album_artists,album_disc_number,album_track_number,album_total_tracks,album_type,album_release_date,album_release_date_precision,album_available_markets
2,2,2vSxjnyrWrtxyfzO47EX6q,Smoke Gets In Your Eyes,The Platters,160933,64,False,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB...",2022-06-09T22:02:00Z,37i9dQZF1DWSV3Tk4GO2fq,3hf24dCfmmDihusVyBLliZ,Remember When?,The Platters,1,2,12,album,1959-01-01,day,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB..."
3,3,5yQ9iMZXGcr5rlO4hoLsP4,"What'd I Say, Pt. 1 & 2",Ray Charles,307053,61,False,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB...",2022-06-09T22:02:00Z,37i9dQZF1DWSV3Tk4GO2fq,4tfWxufmH725XmTcQFAuXn,What'd I Say,Ray Charles,1,1,10,album,1959,year,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB..."
4,4,3HuJDcOWx0gE9Yng2uWY7K,Dream A Little Dream Of Me,Louis Armstrong,196840,65,False,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB...",2022-06-09T22:02:00Z,37i9dQZF1DWSV3Tk4GO2fq,6mmv0gwumlFGWDGJXF4yEv,What A Wonderful World,Louis Armstrong,1,4,11,album,1968-01-01,day,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB..."
5,5,50RwvvEKX5Q7AZt8FTAwIF,That'll Be The Day,Buddy Holly,150133,61,False,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB...",2022-06-09T22:02:00Z,37i9dQZF1DWSV3Tk4GO2fq,0KHc3cD7pAOAieo9lPWXkY,That'll Be The Day,Buddy Holly,1,7,13,album,1958-06-01,day,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB..."
6,6,01u6AEzGbGbQyYVdxajxqk,Don't Be Cruel,Elvis Presley,122893,57,False,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB...",2022-06-09T22:02:00Z,37i9dQZF1DWSV3Tk4GO2fq,0C3t1htEDTFKcg7F2rNbek,Elvis' Golden Records,Elvis Presley,1,8,14,compilation,1958-03-21,day,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1044,1044,60nZcImufyMA1MKQY3dcCH,"Happy - From ""Despicable Me 2""",Pharrell Williams,232720,80,False,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB...",2022-10-09T00:00:00Z,37i9dQZF1DX5Ejj0EkURtP,0lrmy4pJINsFzycJvttX2W,G I R L,Pharrell Williams,1,5,11,album,2014-03-03,day,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB..."
1046,1046,1DunhgeZSEgWiIYbHqXl0c,Latch,"Disclosure, Sam Smith",255866,70,False,"CA, MX, US",2022-10-09T00:00:00Z,37i9dQZF1DX5Ejj0EkURtP,1lM5IfaqcIsXd6UCV3aDSs,Settle (Deluxe),Disclosure,1,3,16,album,2013-06-03,day,"CA, MX, US"
1047,1047,6gU9OKjOE7ghfEd55oRO57,The Weekend,SZA,272186,73,True,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB...",2022-10-09T00:00:00Z,37i9dQZF1DX5Ejj0EkURtP,76290XdXVF9rPzGdNRWdCh,Ctrl,SZA,1,6,14,album,2017-06-09,day,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB..."
1048,1048,6hkOqJ5mE093AQf2lbZnsG,The One That Got Away,Katy Perry,227333,73,False,"CA, MX, US",2022-10-09T00:00:00Z,37i9dQZF1DX5Ejj0EkURtP,2eQMC9nJE3f3hCNKlYYHL1,Teenage Dream,Katy Perry,1,7,12,album,2010-01-01,day,"CA, MX, US"
1049,1049,4z7gh3aIZV9arbL9jJSc5J,Ghost,Ella Henderson,213213,58,False,US,2022-10-09T00:00:00Z,37i9dQZF1DX5Ejj0EkURtP,3ndfnISZRohKZGbKh6kv33,Chapter One,Ella Henderson,1,1,11,album,2015-01-13,day,US

In [6]:
test = df.loc[ind==2,]
test

,Unnamed: 0,id,name,artists,duration_ms,popularity,explicit,available_markets,add_date,playlist_id,album_id,album_name,album_artists,album_disc_number,album_track_number,album_total_tracks,album_type,album_release_date,album_release_date_precision,album_available_markets
0,0,5ueyLj6e6oVaTY0KQ6yLaA,All Shook Up,Elvis Presley,117080,61,False,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB...",2022-06-09T22:02:00Z,37i9dQZF1DWSV3Tk4GO2fq,0C3t1htEDTFKcg7F2rNbek,Elvis' Golden Records,Elvis Presley,1,3,14,compilation,1958-03-21,day,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB..."
1,1,3aEJMh1cXKEjgh52claxQp,I've Got You Under My Skin - Remastered 1998,Frank Sinatra,223760,68,False,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB...",2022-06-09T22:02:00Z,37i9dQZF1DWSV3Tk4GO2fq,4kca7vXd1Wo5GE2DMafvMc,Songs For Swingin' Lovers! (Remastered),Frank Sinatra,1,9,15,album,1956-03,month,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB..."
10,10,3YdKJzcoMZMacISlpY4QoP,I Only Have Eyes for You,The Flamingos,202773,63,False,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB...",2022-06-09T22:02:00Z,37i9dQZF1DWSV3Tk4GO2fq,6XEtlJFNCbNrIz1Q5kdLjZ,Flamingo Serenade,The Flamingos,1,1,12,album,1959-08-11,day,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB..."
19,19,4uxsv9PjV3Yeyn51RdWvGJ,Misty,Johnny Mathis,216573,55,False,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB...",2022-06-09T22:02:00Z,37i9dQZF1DWSV3Tk4GO2fq,3Yx5An0VumBISWmrOtNyB9,Heavenly,Johnny Mathis,1,7,12,album,1959-08-10,day,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB..."
21,21,1oDCK7PW72XEZ1pE5rh87A,Smile,Nat King Cole,173266,64,False,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB...",2022-06-09T22:02:00Z,37i9dQZF1DWSV3Tk4GO2fq,3NoP1ifIejWkGSDsO9T2xH,The Nat King Cole Story,Nat King Cole,2,2,36,album,1991-01-01,day,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017,1017,6TaqooOXAEcijL6G1AWS2K,All My Friends (feat. Tinashe & Chance the Rap...,"Snakehips, Tinashe, Chance the Rapper",229746,70,True,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB...",2022-10-09T00:00:00Z,37i9dQZF1DX5Ejj0EkURtP,5cOhR878H8hC3UsxYq5Xyv,All My Friends (feat. Tinashe & Chance the Rap...,Snakehips,1,1,1,single,2015-10-21,day,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB..."
1030,1030,0VwNdo84DaVYLIkbVO86ND,We Are Never Ever Getting Back Together,Taylor Swift,193146,75,False,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB...",2022-10-09T00:00:00Z,37i9dQZF1DX5Ejj0EkURtP,4jTYApZPMapg56gRycOn0D,Red (Big Machine Radio Release Special),Taylor Swift,1,16,32,album,2012-10-22,day,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB..."
1031,1031,4nVBt6MZDDP6tRVdQTgxJg,Story of My Life,One Direction,245493,82,False,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB...",2022-10-09T00:00:00Z,37i9dQZF1DX5Ejj0EkURtP,7p1fX8aUySrBdx4WSYspOu,Midnight Memories (Deluxe),One Direction,1,2,18,album,2013-11-25,day,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB..."
1037,1037,0rTV5WefWd1J3OwIheTzxM,Talk,"Khalid, Disclosure",197487,68,False,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB...",2022-10-09T00:00:00Z,37i9dQZF1DX5Ejj0EkURtP,58kvvQvx6OtLqEDhqYSzyM,Talk,"Khalid, Disclosure",1,1,1,single,2019-02-07,day,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB..."
1045,1045,2VvCoqF4p46cvyVbhbDsaJ,Feel the Love (feat. John Newman),"Rudimental, John Newman",245186,46,False,"CA, US",2022-10-09T00:00:00Z,37i9dQZF1DX5Ejj0EkURtP,6RM05aDNmbqF7AV1xwubac,Home (Deluxe Edition),Rudimental,1,2,15,album,2013-04-29,day,"CA, US"

In [7]:
train.head()

,Unnamed: 0,id,name,artists,duration_ms,popularity,explicit,available_markets,add_date,playlist_id,album_id,album_name,album_artists,album_disc_number,album_track_number,album_total_tracks,album_type,album_release_date,album_release_date_precision,album_available_markets
2,2,2vSxjnyrWrtxyfzO47EX6q,Smoke Gets In Your Eyes,The Platters,160933,64,False,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB...",2022-06-09T22:02:00Z,37i9dQZF1DWSV3Tk4GO2fq,3hf24dCfmmDihusVyBLliZ,Remember When?,The Platters,1,2,12,album,1959-01-01,day,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB..."
3,3,5yQ9iMZXGcr5rlO4hoLsP4,"What'd I Say, Pt. 1 & 2",Ray Charles,307053,61,False,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB...",2022-06-09T22:02:00Z,37i9dQZF1DWSV3Tk4GO2fq,4tfWxufmH725XmTcQFAuXn,What'd I Say,Ray Charles,1,1,10,album,1959,year,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB..."
4,4,3HuJDcOWx0gE9Yng2uWY7K,Dream A Little Dream Of Me,Louis Armstrong,196840,65,False,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB...",2022-06-09T22:02:00Z,37i9dQZF1DWSV3Tk4GO2fq,6mmv0gwumlFGWDGJXF4yEv,What A Wonderful World,Louis Armstrong,1,4,11,album,1968-01-01,day,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB..."
5,5,50RwvvEKX5Q7AZt8FTAwIF,That'll Be The Day,Buddy Holly,150133,61,False,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB...",2022-06-09T22:02:00Z,37i9dQZF1DWSV3Tk4GO2fq,0KHc3cD7pAOAieo9lPWXkY,That'll Be The Day,Buddy Holly,1,7,13,album,1958-06-01,day,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB..."
6,6,01u6AEzGbGbQyYVdxajxqk,Don't Be Cruel,Elvis Presley,122893,57,False,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB...",2022-06-09T22:02:00Z,37i9dQZF1DWSV3Tk4GO2fq,0C3t1htEDTFKcg7F2rNbek,Elvis' Golden Records,Elvis Presley,1,8,14,compilation,1958-03-21,day,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB..."

In [8]:
test.head()

,Unnamed: 0,id,name,artists,duration_ms,popularity,explicit,available_markets,add_date,playlist_id,album_id,album_name,album_artists,album_disc_number,album_track_number,album_total_tracks,album_type,album_release_date,album_release_date_precision,album_available_markets
0,0,5ueyLj6e6oVaTY0KQ6yLaA,All Shook Up,Elvis Presley,117080,61,False,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB...",2022-06-09T22:02:00Z,37i9dQZF1DWSV3Tk4GO2fq,0C3t1htEDTFKcg7F2rNbek,Elvis' Golden Records,Elvis Presley,1,3,14,compilation,1958-03-21,day,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB..."
1,1,3aEJMh1cXKEjgh52claxQp,I've Got You Under My Skin - Remastered 1998,Frank Sinatra,223760,68,False,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB...",2022-06-09T22:02:00Z,37i9dQZF1DWSV3Tk4GO2fq,4kca7vXd1Wo5GE2DMafvMc,Songs For Swingin' Lovers! (Remastered),Frank Sinatra,1,9,15,album,1956-03,month,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB..."
10,10,3YdKJzcoMZMacISlpY4QoP,I Only Have Eyes for You,The Flamingos,202773,63,False,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB...",2022-06-09T22:02:00Z,37i9dQZF1DWSV3Tk4GO2fq,6XEtlJFNCbNrIz1Q5kdLjZ,Flamingo Serenade,The Flamingos,1,1,12,album,1959-08-11,day,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB..."
19,19,4uxsv9PjV3Yeyn51RdWvGJ,Misty,Johnny Mathis,216573,55,False,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB...",2022-06-09T22:02:00Z,37i9dQZF1DWSV3Tk4GO2fq,3Yx5An0VumBISWmrOtNyB9,Heavenly,Johnny Mathis,1,7,12,album,1959-08-10,day,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB..."
21,21,1oDCK7PW72XEZ1pE5rh87A,Smile,Nat King Cole,173266,64,False,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB...",2022-06-09T22:02:00Z,37i9dQZF1DWSV3Tk4GO2fq,3NoP1ifIejWkGSDsO9T2xH,The Nat King Cole Story,Nat King Cole,2,2,36,album,1991-01-01,day,"AD, AE, AG, AL, AM, AO, AR, AT, AU, AZ, BA, BB..."